VITE_EMAILJS_SERVICE_ID=newapplyforstock
VITE_EMAILJS_TEMPLATE_ID=template_6z6w8yo
VITE_EMAILJS_PUBLIC_KEY=u7AYGRrkIMHfhL6Pc

# Google Sheets API Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
